body{
     font-family: sans-serif;
}
h1{
    text-align: center;
}
#nouvelExercice, input[type="submit"]{
    background-color: pink;
    border: 5px solid #dcb6d8;
    border-radius: 5px;
}
.haut{
    display:flex;
    justify-content: space-around;
    margin: 10px;
    padding:5px;
}
.bas{
    margin:auto;
    width: max-content;
    margin-top:10px;
    margin-bottom: 10px;
    padding:5px;
}